# Basic modules (in standard library) - no need to specify in requirements
# argparse
# io
# datetime
# os
# re
# shutil
# subprocess
# time
# glob

Pillow
torch
opencv-python
numpy
tensorflow
flask
werkzeug
requests
ultralytics
